/* Here we use the CSS Root to define colors as variables which we can assign.
The main benefit is that if we decide to use different colors we only need to 
change them in one single place. */
:root {
    --primary-color: #EEB312;
    --secondary-color: #000000;
    --pri-hover-color: #ecc864;
}

/* We want every element to use box-sizing and to have no margin/padding added by the browser.
The same goes for before/after pseudo-elements. We select everything with the asterisk
and every before/after pseudo elements */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Fluid heading sizes - this means the headings scale automagically depending on the screen width*/
h1 {
    font-size: clamp(1.25rem, 2vw + 1rem, 1.875rem);
}

body {
    overflow-x: hidden;
    /*disables horizontal scrolling*/
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    height: 6vh;
    padding: 10px 277px 20px 277px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
}

.header__container__logo {
    font-family: montserrat, sans-serif;
    font-weight: 800;
}

.header__container__symbol {
    width: 2rem;
    height: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 277px;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
}

.section__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

#list-item:empty {
    background-image: url("https://rebellionwebdesign.github.io/tasker/assets/images/png/tasker-greeter.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#list-item {
    width: 100%;
    height: 100%;
    font-family: poppins, sans-serif;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px 10px;
}

.container__tasklist__header {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    font-family: montserrat, sans-serif;
    padding: 0px 10px;
}

.container__tasklist__header>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.container__tasklist__header>ul>li {
    width: 150px;
}

.container__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

button {
    background-color: transparent;
    border: none;
    text-align: center;
}

/*SCROLLBAR STYLES FOR THE TASKLIST*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    width: 20px;
}

.todo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    margin-top: 15px;
    width: 100%;
    padding: 5px 50px;
}

ul>li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.todo-container>li {
    width: 150px;
}

.option-button {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 10px;
    margin-top: 3.5px;
    transition: all 0.5s ease-in-out;
}

.option-button:hover {
    transform: scale(1.1);
}

.container__tasklist__greeter--wrapper>h1 {
    font-family: montserrat, sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
}

.container__task_form {
    font-family: poppins, sans-serif;
    font-size: 0.75rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
}

label {
    margin-right: 5px;
}

#taskname {
    margin-right: 10px;
}

input[type=text] {
    padding: 8px;
    border-radius: 5px;
    border: none;
}


input[type=date] {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

input[type=submit] {
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    font-family: poppins, sans-serif;
    margin-left: 10px;
    transition: all 0.5s ease-in-out;
}

input[type=submit]:hover {
    background-color: var(--pri-hover-color);
}

footer {
    width: 100vw;
    height: 6vh;
    padding: 0px 277px;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container__date-wrapper {
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
}

.footer__container__day {
    font-family: poppins, sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    text-align: end;
    margin-bottom: 0.25rem;
}

.footer__container__date {
    font-family: poppins, sans-serif;
    line-height: 1;
    text-align: end;
}

.container__time-wrapper {
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: end;
}

.footer__container__time {
    font-family: poppins, sans-serif;
    font-size: 2rem;
    line-height: 1;
    text-align: end;
}

.footer__container__daytime {
    font-family: poppins, sans-serif;
    font-size: 1rem;
    line-height: 1;
    text-align: end;
    margin-bottom: 2px;
}

/* FONT STYLES - CSS is automatically generated by:
https://gwfh.mranftl.com/fonts/montserrat?subsets=latin and
https://gwfh.mranftl.com/fonts/poppins?subsets=latin */

/* montserrat-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('https://rebellionwebdesign.github.io/tasker/assets/fonts/montserrat/montserrat-v25-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('https://rebellionwebdesign.github.io/tasker/assets/fonts/montserrat/montserrat-v25-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('https://rebellionwebdesign.github.io/tasker/assets/fonts/poppins/poppins-v20-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*RESPONSIVE STYLES*/

@media screen and (max-width: 1440px) {
    header {
        padding-left: 50px;
        padding-right: 50px;
    }

    main {
        padding-left: 50px;
        padding-right: 50px;
    }

    footer {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 992px) {
    header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__container__symbol {
        width: 1.5rem;
        height: 1.5rem;
    }

    main {
        padding-left: 10px;
        padding-right: 10px;
        height: 88vh;
    }

    .container__tasklist__header {
        display: none;
    }

    .task::before {
        content: "TASKNAME: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    .generated::before {
        content: "CREATION DATE: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    .deadline::before {
        content: "DEADLINE: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    .finished::before {
        content: "STATUS: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    #list-item>ul {
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    #list-item>ul>li {
        margin: 0;
        padding: 0;
    }

    .todo-container>li {
        width: 100%;
    }

    .todo-container>li>ul {
        display: flex;
        justify-content: end;
    }

    .delete {
        padding-left: 15px;
    }

    .container__form {
        height: 30%;
        padding: 10px 0px;
    }

    .option-button {
        margin: 0;
        margin-top: 5px;
    }

    .container__task_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input[type=text] {
        width: 100%
    }

    label {
        margin-top: 5px;
    }

    #taskname {
        margin: 0;
    }

    #date {
        width: 100%;
    }

    input[type=submit] {
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
    }

    footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer__container {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .footer__container__day {
        font-size: 18px;
    }

    .footer__container__date {
        font-size: 12px;
    }
}

@media screen and (max-width: 762px) {
    header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__container__symbol {
        width: 1.5rem;
        height: 1.5rem;
    }

    main {
        padding-left: 10px;
        padding-right: 10px;
        height: 100vh;
    }

    .container__tasklist__header {
        display: none;
    }

    .task::before {
        content: "TASKNAME: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    .generated::before {
        content: "CREATION DATE: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    .deadline::before {
        content: "DEADLINE: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    .finished::before {
        content: "STATUS: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    #list-item>ul {
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    #list-item>ul>li {
        margin: 0;
        padding: 0;
    }

    .todo-container>li {
        width: 100%;
    }

    .todo-container>li>ul {
        display: flex;
        justify-content: end;
    }

    .delete {
        padding-left: 15px;
    }

    .container__form {
        height: 100%;
        padding: 0px 0px;
    }

    .option-button {
        margin: 0;
        margin-top: 5px;
    }

    .container__task_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input[type=text] {
        width: 100%
    }

    label {
        margin-top: 5px;
    }

    #taskname {
        margin: 0;
    }

    #date {
        width: 100%;
    }

    input[type=submit] {
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 6vh;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer__container {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .footer__container__day {
        font-size: 18px;
    }

    .footer__container__date {
        font-size: 12px;
    }
}

@media screen and (max-width: 762px) and (orientation: landscape) {
    .section__container {
        flex-direction: row;
    }

    header {
        height: 40px;
        padding: 0px 10px;
    }
}

@media screen and (max-width: 576px) {
    header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__container__symbol {
        width: 1.5rem;
        height: 1.5rem;
    }

    main {
        padding-left: 10px;
        padding-right: 10px;
        height: 88vh;
    }

    .container__tasklist__header {
        display: none;
    }

    .task::before {
        content: "TASKNAME: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    .generated::before {
        content: "CREATION DATE: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    .deadline::before {
        content: "DEADLINE: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    .finished::before {
        content: "STATUS: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    #list-item>ul {
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    #list-item>ul>li {
        margin: 0;
        padding: 0;
    }

    .todo-container>li {
        width: 100%;
    }

    .todo-container>li>ul {
        display: flex;
        justify-content: end;
    }

    .delete {
        padding-left: 15px;
    }

    .container__form {
        height: 30%;
        padding: 10px 0px;
    }

    .option-button {
        margin: 0;
        margin-top: 5px;
    }

    .container__task_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input[type=text] {
        width: 100%
    }

    label {
        margin-top: 5px;
    }

    #taskname {
        margin: 0;
    }

    #date {
        width: 100%;
    }

    input[type=submit] {
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
    }

    footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer__container {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .footer__container__day {
        font-size: 18px;
    }

    .footer__container__date {
        font-size: 12px;
    }
}

@media screen and (max-width: 378px) {
    header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__container__symbol {
        width: 1.5rem;
        height: 1.5rem;
    }

    main {
        padding-left: 10px;
        padding-right: 10px;
        height: 88vh;
    }

    .container__tasklist__header {
        display: none;
    }

    .task::before {
        content: "TASKNAME: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    .generated::before {
        content: "CREATION DATE: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    .deadline::before {
        content: "DEADLINE: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    .finished::before {
        content: "STATUS: ";
        font-family: montserrat, sans-serif;
        font-size: 1rem;
    }

    #list-item>ul {
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    #list-item>ul>li {
        margin: 0;
        padding: 0;
    }

    .todo-container>li {
        width: 100%;
    }

    .todo-container>li>ul {
        display: flex;
        justify-content: end;
    }

    .delete {
        padding-left: 15px;
    }

    .container__form {
        height: 30%;
        padding: 10px 0px;
    }

    .option-button {
        margin: 0;
        margin-top: 5px;
    }

    .container__task_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input[type=text] {
        width: 100%
    }

    label {
        margin-top: 5px;
    }

    #taskname {
        margin: 0;
    }

    #date {
        width: 100%;
    }

    input[type=submit] {
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
    }

    footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer__container {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .footer__container__day {
        font-size: 18px;
    }

    .footer__container__date {
        font-size: 12px;
    }
}